# For Vercel production: set to your Railway backend URL + /api
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_MAP_TILE_DARK=https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png
NEXT_PUBLIC_MAP_TILE_LIGHT=https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png
